<div id="body">
    <img src="/img/MicrosoftTeams-image (4).png" alt="" class="background_img">
    <form class="box"  action="login.html" method="post">
        <!-- <div class="container"> -->
            <h1>Đăng ký tài khoản</h1>
            <input class="typing" type="text" placeholder="Tài khoản">
            <input class="typing" type="password" placeholder="Mật khẩu">
            <input class="typing" type="text" placeholder="Tên chủ tài khoản">
            <input class="typing" type="email" placeholder="Email">
            <input class="typing" type="number" placeholder="Số điện thoại">
            <input class="login-button" type="submit" value="Đăng ký">
    </form>
</div>  
<style>
    #body{
        margin: 0;
        padding: 0;
        {{!-- background-color: rgb(95, 209, 95); --}}
        {{!-- background-image: url(/img/MicrosoftTeams-image\ \(3\).png); --}}
        {{!-- background-repeat: no-repeat;
        background-size: cover;
        position: relative; --}}
    }
    .background_img{
        width: 100%;
        position: absolute;
    }
    .box{
        position: relative;
        padding: 40px 0;
        margin: 0rem 28rem;
        background-color: white;
        text-align: center;
        transform: translateZ(100px);
    }
    .box .typing{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        border: 2px solid green;
        padding: 15px 10px;
        width: 200px;
        outline: none;
        font-weight: 500;
        border-radius: 1.5rem;
        transition: 0.25s;
    }
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
    .box h1{
        padding-top: 64px;
        font-weight: 600;
        text-transform: uppercase;
        {{!-- font-family: 'Dongle', sans-serif; --}}
    }

    .box .typing:focus{
        width: 250px;
        border-color: aquamarine;
    }
    .login-button{
        background: none;
        border: 0;
        display: block;
        margin: 20px auto;
        border: 2px solid rgb(39, 160, 39);
        padding: 15px 30px;
        width: 150px;
        outline: none;
        font-weight: 500;
        border-radius: 1.5rem;
        transition: 0.25s;
        cursor: pointer;
    }
    .login-button:hover{
        background: linear-gradient(#79df79, #276e27);
        border: 0;
    }
</style>