
<div id="footer" style="margin-right: 12px;">
            <h5 class="footer-name" style="font-style:italic;margin-bottom: 0;">Powered by SMS Group</h5>
            <div id="media" class="social-list">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </div>
            
</div>